body {
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(242, 226, 245);
}

section .content .logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  min-height: 30vh;
}

.logo {
  padding: 20px 30px;
  margin: auto;
}

.logo img {
  max-height: 100px;
}

.qlist {
    margin: auto;
    align-items: center;
}

.headline p {
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
  justify-content: center;
}

section .headline {
  width: 80%;
  height: 20vh;
  display:block;
  margin: auto;
  padding-top: 10pt;
  justify-content: center;
  align-items: center;
  animation: fadein 8s;
  -webkit-animation: fadein 8s;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.question {
    width: 80%;
    height: auto;
    display:block;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
    
    align-items: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

div #q1 {
  /* border: solid red 1px; */
}

#q8 .btn_wrapper {
  margin-bottom: 10pt;
}

.btn_wrapper {
  padding: 10px;
}

.question p {
  padding: 30px 20px 0px 20px;
  font-weight: bold;
}

.question .label {
  font-size: 11pt;
  color: #333;
}

.submit {
  width: 80%;
  height: auto;
  display:block;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submit .text_wrapper {
  margin: 20px;
  margin-bottom: 0px;
  padding-top: 20px;

}

.submit .btn {
  display:block;
  padding-left: 20px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: left;
}

.multi-choice {
  margin: 0px 20px 0px 20px;
  padding: 30px 10px 30px 10px;
  /* display: flex; */
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Web reveal */
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Textboxes */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[id=submit] {
  width: 100%;
  background-color: #49317c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* 
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
} */